
.gnome-card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height:300px;
}
.gnome-card{
    width:50%;
    background-position: center;
    margin:0 auto;
    background: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.gnome-card-column{
    padding:10px;
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}
.gnome-card-image{
    
    margin:0 auto;  
    position: relative;
}

.gnome-card-image img{
    height: 300px;
    width:300px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.gnome-details{
    font-size: small;
    margin: 3px 0;
    font-weight: 500;
}

.gnome-details-label{
    font-weight:bold;
    font-size: small;
}
.gnome-card-image h5{
    margin: 10px 0;
}

.gnome-name{
    font-size: medium;
    font-weight: bold;
}